{% for error in form.non_field_errors %}
    <p class="form-error" role="alert">{{ error }}</p>
{% endfor %}
{% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
            <div class="form-help" id="{{ field.auto_id }}_helptext">{{ field.help_text }}</div>
        {% endif %}
        {% if field.errors %}
            <div id="{{ field.auto_id }}_error">
                {% for error in field.errors %}
                    <p class="form-error" role="alert">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
